body {
  background-color: black;
  color: white;
  font-family: Verdana;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container for setting a max-width and padding */
.container {
  max-width: 600px;
  text-align: center;
  padding: 20px;
}
